section.listanoticias{
    margin-top: 10px;
}

section.listanoticias a{
    width: 150px;
    height: 25px;
    display: block;
    text-align: center;
    padding-top: 5px;
    background-color: grey;
    color: white;
    float: left;
}

section.listanoticias a:hover{
    background-color: #f0c068;
}

section.listanoticias input{
    float: left;
    margin-left: 30px;
    height: 25px;
    width: 50%;
    border:none;
    border-bottom: 1px solid grey;
    padding-left: 10px;
    margin-top: 5px;
}

section.listanoticias div.cabecera{
    float: left;
    width: 90%;
    margin-top: 20px;
}

section.listanoticias> div h3{
    float: left;
    text-transform: capitalize;
    color: orange;
    font-weight: 400;
    margin-bottom: -6px;
}

section.listanoticias> div.cabecera h3:first-child{
    width: 15%
}

section.listanoticias> div.cabecera h3:nth-child(2){
    width: 50%;
}

section.listanoticias> div.cabecera h3:nth-child(3){
    width: 35%;
}

section.listanoticias> div.tabla{
    border-top: 3px solid orange;
    float: left;
    width: 95%;
    padding: 5px;
    background-color: #c4c4c4;
    min-height: 60%;
    overflow-y: auto;
    height: 60%;
}

section.listanoticias> div.tabla> div{
    height: 30px;
    border-radius: 2px;
    background-color: #f5f5f5;
    float: left;
    width: 100%;
    margin-bottom: 5px;
    cursor: default;
    
    transition: all 200ms cubic-bezier(.42, 0, .58, 1);         
    -o-transition: all 200ms cubic-bezier(.42, 0, .58, 1);     
    -webkit-transition: all 200ms cubic-bezier(.42, 0, .58, 1);     
    -moz-transition: all 200ms cubic-bezier(.42, 0, .58, 1);
}

section.listanoticias> div.tabla> div:hover{
    background-color: #ffffff;
}

section.listanoticias> div.tabla div h5:first-child{
    padding-top: 5px;
    width: 14%;
    margin-left: 1%;
    float: left;
}

section.listanoticias> div.tabla div h5:nth-child(2){
    float: left;
    padding-top: 5px;
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}

section.listanoticias> div.tabla div h5:nth-child(3){
    float: left;;
    width: 29%;
    margin-left: 1%;
    padding-top: 5px;;
}

section.listanoticias> div.tabla div div{
    float: left;
    width: 10%;
    height: 20px;
}

section.listanoticias> div.tabla div div img{
    height: 15px;
    float: right;
    margin-right: 10px;
    width: 15px;
    cursor: pointer;
    margin-top: 7px;
    opacity: .4;
    filter: grayscale(1);
    
     transition: all 400ms cubic-bezier(.42, 0, .58, 1);         
    -o-transition: all 400ms cubic-bezier(.42, 0, .58, 1);     
    -webkit-transition: all 400ms cubic-bezier(.42, 0, .58, 1);     
    -moz-transition: all 400ms cubic-bezier(.42, 0, .58, 1);    
}

section.listanoticias> div.tabla div div img:hover{
    opacity: 1;
    filter: grayscale(0);
}