section.literarios h2{
    text-transform: capitalize;
    margin: 10 0;
}

section.literarios label{
    display: block;
    width: 10%;
    text-align: right;
    float: left;   
    margin-top: 10px;
    text-transform: capitalize;
}

section.literarios input{
    float: left;
    margin-left: 1%;
    border: none;
    width: 50%;
    margin-right: 39%;
    height: 22px;
    margin-top: 10px;
    border-bottom: 1px solid orange;
}

section.literarios form> div{
    float: left;
    width: 88%;
    margin-left: 5%;
    padding: 2%;
    /background-color: #dedede;
    margin-top: 20px;
    
}

section.literarios form> div img{
    float: left;
    width: 150px;
    margin-right: 10px;
}

section.literarios form> div a{
    width: 150px;
    display: block;
    float: left;
    text-align: center;
    text-transform: capitalize;
    height: 25px;
    padding-top: 5px;
    color: white;
    background-color: grey;
    margin-top: 5px;;
}

section.literarios form> div a:hover{
    background-color: darkgrey
}

section.literarios form> div textarea{
    float: left;
    height: 100px;
    background-color: #f5f5f5;
    width: 70%;
    margin-top: 10px;
    resize: none;
    border:none;
    border-left: 2px solid orange;
    padding: 5px;
}

section.literarios form > a{
    display: block;
    float: left;
    width: 150px;
    text-align: center;
    text-transform: capitalize;
    height: 25px;
    padding-top: 5px;
    background-color: #ffd079;
    color: white; 
    float: right;
    margin-right: 5%;
    margin-top: 20px;
}

section.literarios form > a:hover{
    background-color: orange
}
