
aside{
    top:0px;
    float: right;
    display: block;
    width: 27%;
    margin-top: 20px;
    margin-right: 20px;
}

aside h3{
    display: block;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(172, 172, 172);
    color:rgb(172, 172, 172);
}

aside a{
    display: block;
    float: left;
    width: 90%;
    max-height: 60px;
    margin: 10px 0 0 10px;
    /opacity: .8;
    border-left: 1px solid lightgray;
        
    transition: all 100ms linear;    
    -o-transition: all 100ms linear;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
}

aside a:hover{
    opacity: 1; 
    border-left-width: 4px;
    border-color: yellow;
}

aside a:hover img{
    filter: grayscale(.1);
}

aside li{
    display: block;
    float: left;
    height: 40px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
    color: rgb(59, 59, 59);
    vertical-align: middle;
    text-align: left;
    font-size: 15px;
}

aside li:first-letter{
    text-transform: capitalize;
}

aside img{
    display: inline-block;
    float: left;
    height: 60px;
    width: 60px;
    margin-right: 10px;
    margin-left: 5px;
    filter: grayscale(.7);
}

