*{
    font-family: 'open sans', sans-serif;
    font-weight: 100;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    color:black;
}

a{
    cursor:pointer;
}
header{
    width: 100%;
    display: block;
    /background-color: red;
    min-width: 900px;
    margin-bottom: 20px;
}

header > div{
    position: relative;
    display:block;
    width:50%;
    margin: 0 auto;
    overflow: hidden;
}

header >div img{
    width: 100%;
}


header nav{
    display: block;
    width: 100%;
    background-color: rgb(231, 140, 38);
}

header nav ul a{
    display: block;
    height: 30px;
    padding-top: 10px;
    width: 150px;
    float: left;
    text-align: center;
    text-transform: uppercase;
    color:white;
    font-weight: 400;
    border-bottom: 0px solid rgb(235, 153, 62);
    
    animation-duration: 200ms;
    animation-timing-function: cubic-bezier;
}

header nav> ul a:hover{
    background-color: rgb(235, 153, 62);

}

header nav ul img{
    height: 20px;
    margin-top: 10px;
    /background-color: green;
    float: left;
    margin-left: 5px
}


header nav >ul{
    height: 40px;
    position: relative;
    width: 800px;
    margin: 0 auto;
}

header nav> div{
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 200px;
    border-bottom: 5px solid rgb(231, 140, 38);
    background-color: rgb(209, 209, 209);
    z-index: 1
}


header nav>div> ul{
    width: 820px;
    margin: 0 auto;
}

header div ul a{
    text-transform: capitalize;
    margin: 0px;
    height: 20px;
    padding-top: 0;
    width: 250;
    color:#7b7b7b;
}

header div ul a:hover{
    color:#000000;
}

header nav> div> ul> li{
    display: block;
    margin: 30px 0 0 20px;
    float: left;
    width: 250px;
}


header nav> div ul li ul li {
    float: left;
    width: 100%;
    margin-top: 10px;
    display: block;
}

header nav> div> ul> li> ul a{
    margin-left: 10px;
    font-weight: 100;
}


footer{
    background-color: lightgrey;
    margin-top: 20px;
    float: left;
    width: 100%;
    min-width: 900px;
    border-top: 5px solid rgb(231, 140, 38);
}

footer>ul{
    float: left;
    margin-left: 40px;
    width: 650px;
    /background-color: green;
}


footer >ul >li{
    display: block;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer >ul >li:nth-child(5){
    margin-left: 10px;
    width: 100px;
}

footer >ul >li:nth-child(1){
    width: 110px;
}
footer >ul >li:nth-child(5){
}

footer >ul  a{
    display: block;
    width: 125px;
    color: #505050;
    text-transform: capitalize;
    
    transition: all 200ms cubic-bezier(.42, 0, .58, 1);         
    -o-transition: all 200ms cubic-bezier(.42, 0, .58, 1);     
    -webkit-transition: all 200ms cubic-bezier(.42, 0, .58, 1);     
    -moz-transition: all 200ms cubic-bezier(.42, 0, .58, 1);
}

footer >ul  a:hover{
    color:black;
}

footer> ul >li> a{
    font-weight: 400;
}

footer >ul >li ul li{
    margin-left: 10px;
    font-size: 15px;
}

footer img{
    float: right;
    margin: 20px 20px 20px 0;
    width: 15%;
    opacity: .5;
}

footer div{
    width: 100%;
    float: left;
    background-color: rgb(231, 140, 38);
}

footer div h2{
    color:white;
    margin: 10px;
        
}

body div.center{
    width: 90%;
    min-width: 900px;
    margin: 0 auto;
}



