section.literarios{
    width: 100%;
}

section.literarios h2{
    text-transform: capitalize;
    width: 10%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

section.literarios> div{
    float: right;
    height: 3px;
    width: 89%;
    margin: 19px 0;
    background-color: orange;    
}

section.literarios article{
    width: 90%;
    margin-bottom: 20px;
    background-color: #eaeaea;
    padding: 10px;
    margin-left: 5%;
    float: left;
    
    transition: all 200ms cubic-bezier(.42, 0, .58, 1);         
    -o-transition: all 200ms cubic-bezier(.42, 0, .58, 1);     
    -webkit-transition: all 200ms cubic-bezier(.42, 0, .58, 1);     
    -moz-transition: all 200ms cubic-bezier(.42, 0, .58, 1);
}

section.literarios article:hover{
        background-color: #e0e0e0;

}

section.literarios article >img{
    width: 20%;
    min-width: 130px;
    float: left;
}

section.literarios article> div{
    float: right;
    width: 79%;
    border-bottom: 3px solid #f8ff49;
    height: 25px;
    
}

section.literarios article div div{
    float: right;
    width: 90px;
    height: 100%;
    background-color: #f8ff49;
}

section.literarios article div div >img{
    height: 90%;
    float: left;
    margin-left: 5px;
    background-color: white;
    margin-top: 3px;
    filter: grayscale(.7);
    
    transition: all 200ms cubic-bezier(.42, 0, .58, 1);         
    -o-transition: all 200ms cubic-bezier(.42, 0, .58, 1);     
    -webkit-transition: all 200ms cubic-bezier(.42, 0, .58, 1);     
    -moz-transition: all 200ms cubic-bezier(.42, 0, .58, 1);
   
}

section.literarios article div div >img:hover{
    filter: grayscale(0)
}

section.literarios article h3{
    float: left;
    max-width: 60%;
    max-height: 100%;
    overflow: hidden;
    margin-top: ;
    font-weight: 400;
    margin-left: 1%;
}

section.literarios article p{
    float: right;
    width: 79%;
    /height: 55%;
    margin-top: 10px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
        
}

section.literarios article h4{
    float: right;
    font-style: italic;
    text-transform: capitalize;
    margin-right: 20px;
    font-size: 15px;
    width: 50%;
    text-align: right;
}

