nav.nav{
    background-color: white;
    float: left;
    display: none;
    position: fixed;
    top: 0px; 
    width: 100%;
    border-bottom: 3px solid rgb(254, 222, 75);
    min-width: 900px;
    z-index: 2;
    box-shadow: 0px 0px 5px rgba(15, 14, 14, 0.7);
}

nav.nav div{
    float: left;
    width: 10%;
    background-color: rgb(254, 222, 75);
}

nav.nav img{
    float: left;
    height: 70px;
    position: relative;
    margin: 0 20%;
}

nav.nav>ul{
    float: right;
    margin-right: 10px;
}

nav.nav >ul> li{
    display: block;
    float: left;
    width: 150px;
    text-align: center;
    margin-top: 45px;
    height: 23px;
    text-transform: uppercase;
}

nav.nav >ul> li a{
    color: grey;
    font-weight: 400;
    display: block;
}


nav.nav >ul> li:hover{
    border-bottom: 2px solid rgb(254, 222, 75);
}

nav.nav> ul> li> ul{
    /background-color: orange;
    width: 400px;
    height:0;
    padding-top: 0;
    margin-top: 3px;
    position: absolute;
    overflow: hidden;
    
    
    transition: all 500ms cubic-bezier(.38, .46, .26, .89);         
    -o-transition: all 500ms cubic-bezier(.38, .46, .26, .89);     
    -webkit-transition: all 500ms cubic-bezier(.38, .46, .26, .89);     
    -moz-transition: all 500ms cubic-bezier(.38, .46, .26, .89);
}

nav.nav> ul> li> ul> li> a{
    display: block;
    background-color: orange;
    height: 30px;
    width: 150px;
    padding-top: 10px;
    color: white;
    font-size: 14px;
}
    
nav.nav> ul> li> ul> li> a:hover{
    background-color: #ffb734;
}
    
nav.nav> ul> li> ul> li> ul a{
    display: block;
    background-color: #ffb734;
    height: 30px;
    width: 150px;
    padding-top: 10px;
    color: white;
    font-size: 14px;

}

nav.nav ul li ul li ul{
    width: 0px;
    float: left;
    overflow: hidden;
    display: block;
    position: absolute;
    margin-left: 150px;
    margin-top: -40px;
    
    transition: all 300ms cubic-bezier(.38, .46, .26, .89);         
    -o-transition: all 300ms cubic-bezier(.38, .46, .26, .89);     
    -webkit-transition: all 300ms cubic-bezier(.38, .46, .26, .89);     
    -moz-transition: all 300ms cubic-bezier(.38, .46, .26, .89);
    
}

nav.nav> ul> li> ul> li> ul a:hover{
    background-color: #ef9c05;
}

nav.nav> ul> li> ul>li:hover >ul{
    width: 150px;    
    height: 180px;
}

nav.nav >ul> li:hover >ul{
    height: 250px;
    padding-top: px;

}